.vscode
env
learner_site/app/migrations/__pycache__/

learner_site/teacher/__pycache__
learner_site/teacher/migrations/__pycache__/

learner_site/people/__pycache__
learner_site/people/migrations/__pycache__

learner_site/learner_site/__pycache__/
learner_site/learner_site/text.txt

learner_site/db.sqlite3
learner_site/data/messages/*
__pycache__/

migrations/

learner_site/app/__pycache__/
learner_site/app/migrations/__pycache__/

learner_site/course/__pycache__/
learner_site/course/migrations/__pycache__
learner_site/course/views/__pycache__/

learner_site/people/__pycache__/
learner_site/people/migrations/__pycache__
learner_site/people/views/__pycache__/
node_modules