.vscode
env
learner_site/teacher/__pycache__
learner_site/teacher/migrations/__pycache__/
learner_site/student/__pycache__
learner_site/student/migrations/__pycache__
learner_site/learner_site/__pycache__/
learner_site/db.sqlite3
learner_site/learner_site/text.txt
learner_site/data/messages/*
__pycache__/
learner_site/app/__pycache__/
learner_site/app/migrations/__pycache__/
learner_site/course/__pycache__/
learner_site/course/migrations/__pycache__
learner_site/course/views/__pycache__/